@import "tailwindcss";

:root {
  --woori-width: 980px; /* 우리은행 레거시 표준 너비 */
}

body {
  margin: 0;
  background-color: #fff;
  min-width: var(--woori-width); /* 화면이 작아져도 레이아웃 유지 */
}

/* 모든 섹션의 중앙 정렬 컨테이너 */
.inner {
  width: var(--woori-width);
  margin: 0 auto;
  position: relative;
}
